@import "~/node_modules/bootstrap/scss/bootstrap";

.grabbable {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center;
    display: flex;
    margin-bottom: 5rem;
}

.social-media {
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
    filter: opacity(0.8);

    &.selected {
        box-shadow: 0px 12px 22px 1px #333;
        transform: scale(1.1);
        filter: opacity(1);
    }
}

